.Review_faq_accordion_lists_main_new .Index_faq_accordion_lists_sides_mainleft_new{padding: 109.5px 120px 109.5px 56px;}
@media (min-width: 990px) and (max-width: 1439px) {
  .Review_faq_accordion_lists_main_new .Index_faq_accordion_lists_sides_mainleft_new {padding: 40px 40px 40px 20px;}
}
@media (min-width: 750px) and (max-width: 989px) {
  .Review_faq_accordion_lists_main_new .Index_faq_accordion_lists_sides_mainleft_new{padding:30px;}
}
@media (min-width: 0px) and (max-width: 749px) {
  .Review_faq_accordion_lists_main_new .Index_faq_accordion_lists_sides_mainleft_new{padding: 40px 20px 56px;}
}